# the url of the homepage
GREYTHR_HOMEPAGE_URI=
# employee id used to login to greythr
EMPLOYEE_ID=
# password used to login to greythr
PASSWORD=
# required only if slack notification is required
# create a workflow in slack if you want notification in slack
SLACK_NOTIFICATION_ENDPOINT=
SLACK_EMAIL=
